<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditLnsDrawingsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditLnsDrawingsLabel_drawingNumber}" for="drawingNumber" />
                    <h:inputText id="drawingNumber" value="#{lnsDrawingsController.selected.drawingNumber}" title="#{bundle.EditLnsDrawingsTitle_drawingNumber}" required="true" requiredMessage="#{bundle.EditLnsDrawingsRequiredMessage_drawingNumber}"/>
                    <h:outputLabel value="#{bundle.EditLnsDrawingsLabel_CADFilePath}" for="CADFilePath" />
                    <h:inputText id="CADFilePath" value="#{lnsDrawingsController.selected.CADFilePath}" title="#{bundle.EditLnsDrawingsTitle_CADFilePath}" />
                    <h:outputLabel value="#{bundle.EditLnsDrawingsLabel_seriesNumber}" for="seriesNumber" />
                    <h:selectOneMenu id="seriesNumber" value="#{lnsDrawingsController.selected.seriesNumber}" title="#{bundle.EditLnsDrawingsTitle_seriesNumber}" >
                        <f:selectItems value="#{seriesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditLnsDrawingsLabel_drawingSizeID}" for="drawingSizeID" />
                    <h:selectOneMenu id="drawingSizeID" value="#{lnsDrawingsController.selected.drawingSizeID}" title="#{bundle.EditLnsDrawingsTitle_drawingSizeID}" >
                        <f:selectItems value="#{drawingSizeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{lnsDrawingsController.update}" value="#{bundle.EditLnsDrawingsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditLnsDrawingsViewLink}"/>
                <br />
                <h:commandLink action="#{lnsDrawingsController.prepareList}" value="#{bundle.EditLnsDrawingsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditLnsDrawingsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
