<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<style>
table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 700px; 
border-collapse: collapse; border-spacing: 0; 
}

td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
        border-radius: 5px 5px 0 0; 
}


td {
background: #FAFAFA;
text-align: center;
width: 100%;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

</style>
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLnsDrawingsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLnsDrawingsEmpty}" rendered="#{lnsDrawingsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{lnsDrawingsController.items.rowCount > 0}">
                    <h:outputText value="#{lnsDrawingsController.pagination.pageFirstItem + 1}..#{lnsDrawingsController.pagination.pageLastItem + 1}/#{lnsDrawingsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{lnsDrawingsController.previous}" value="#{bundle.Previous} #{lnsDrawingsController.pagination.pageSize}" rendered="#{lnsDrawingsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{lnsDrawingsController.next}" value="#{bundle.Next} #{lnsDrawingsController.pagination.pageSize}" rendered="#{lnsDrawingsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{lnsDrawingsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLnsDrawingsTitle_drawingNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.drawingNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLnsDrawingsTitle_CADFilePath}"/>
                            </f:facet>
                            <h:outputText value="#{item.CADFilePath}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLnsDrawingsTitle_seriesNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.seriesNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLnsDrawingsTitle_drawingSizeID}"/>
                            </f:facet>
                            <h:outputText value="#{item.drawingSizeID}"/>
                        </h:column>
                        <h:column rendered="#{lnsDrawingsController.isAdmin() == true}">
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{lnsDrawingsController.prepareView}" value="#{bundle.ListLnsDrawingsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lnsDrawingsController.prepareEdit}" value="#{bundle.ListLnsDrawingsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lnsDrawingsController.destroy}" value="#{bundle.ListLnsDrawingsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{lnsDrawingsController.prepareCreate}" value="#{bundle.ListLnsDrawingsCreateLink}" rendered="#{lnsDrawingsController.isAdmin() == true}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLnsDrawingsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
