<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSeriesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSeriesLabel_seriesNumber}" for="seriesNumber" />
                    <h:inputText id="seriesNumber" value="#{seriesController.selected.seriesNumber}" title="#{bundle.EditSeriesTitle_seriesNumber}" required="true" requiredMessage="#{bundle.EditSeriesRequiredMessage_seriesNumber}"/>
                    <h:outputLabel value="#{bundle.EditSeriesLabel_seriesDescprition}" for="seriesDescprition" />
                    <h:inputTextarea rows="4" cols="30" id="seriesDescprition" value="#{seriesController.selected.seriesDescprition}" title="#{bundle.EditSeriesTitle_seriesDescprition}" />
                    <h:outputLabel value="#{bundle.EditSeriesLabel_lnsDrawings}" for="lnsDrawings" />
                    <h:selectOneMenu id="lnsDrawings" value="#{seriesController.selected.lnsDrawings}" title="#{bundle.EditSeriesTitle_lnsDrawings}" >
                        <f:selectItems value="#{lnsDrawingsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{seriesController.update}" value="#{bundle.EditSeriesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSeriesViewLink}"/>
                <br />
                <h:commandLink action="#{seriesController.prepareList}" value="#{bundle.EditSeriesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditSeriesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
