<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSeriesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSeriesLabel_seriesNumber}"/>
                    <h:outputText value="#{seriesController.selected.seriesNumber}" title="#{bundle.ViewSeriesTitle_seriesNumber}"/>
                    <h:outputText value="#{bundle.ViewSeriesLabel_seriesDescprition}"/>
                    <h:outputText value="#{seriesController.selected.seriesDescprition}" title="#{bundle.ViewSeriesTitle_seriesDescprition}"/>
                    <h:outputText value="#{bundle.ViewSeriesLabel_lnsDrawings}"/>
                    <h:outputText value="#{seriesController.selected.lnsDrawings}" title="#{bundle.ViewSeriesTitle_lnsDrawings}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{seriesController.destroyAndView}" value="#{bundle.ViewSeriesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSeriesEditLink}"/>
                <br />
                <h:commandLink action="#{seriesController.prepareCreate}" value="#{bundle.ViewSeriesCreateLink}" />
                <br />
                <h:commandLink action="#{seriesController.prepareList}" value="#{bundle.ViewSeriesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSeriesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
