/* 
    Created on : Jun 15, 2016, 2:33:03 PM
    Author     : Gibson Levvid
*/
/*CSS for Create, Edit and View in Sheets and Authors*/

table { 
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse; border-spacing: 0; 
}

td, th { 
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    /* Gradient Background */
    background: linear-gradient(#333 0%,#444 100%);
    color: #FFF; font-weight: bold;
    height: 40px;
    border-radius: 5px 5px 0 0; 
}


td {
    background: #FAFAFA;
    text-align: center;
    width: max-content;
    
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  
.save{
    width: 80px;
    height: 30px;
    line-height: 50px;
    font-size: 100%;
    text-align: center;

    
    right: 0px;
    padding: 5px;


}



/**Sorting styles*/

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after{
    content: " \25B4\25BE ";
}
th:not(.sorttable_nosort){
    cursor:pointer; 
    text-decoration: underline;
}



form {
    width: 40%;
    margin-left:35%; 
    margin-right:25%;
}
.authorNumberSearch, .name, .employment{
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

h1{
    text-align: center;
    color: #FFF;
}

html, body {
    background-color: #2C3E50;
}

a{
    color: #58D68D;
}

a:hover{
    color: #BA4A00;
}
body{
    color: #58D68D;
}


table tr:hover td {
    background-color: #1A5276;
    color: #FFF;
}

th{
    color: #fff;
}

