<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUniversityAffiliationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUniversityAffiliationLabel_universityNameOrGroup}" for="universityNameOrGroup" />
                    <h:inputText id="universityNameOrGroup" value="#{universityAffiliationController.selected.universityNameOrGroup}" title="#{bundle.EditUniversityAffiliationTitle_universityNameOrGroup}" />
                    <h:outputLabel value="#{bundle.EditUniversityAffiliationLabel_universityAffiliationID}" for="universityAffiliationID" />
                    <h:inputText id="universityAffiliationID" value="#{universityAffiliationController.selected.universityAffiliationID}" title="#{bundle.EditUniversityAffiliationTitle_universityAffiliationID}" required="true" requiredMessage="#{bundle.EditUniversityAffiliationRequiredMessage_universityAffiliationID}"/>
                </h:panelGrid>
                <h:commandLink action="#{universityAffiliationController.update}" value="#{bundle.EditUniversityAffiliationSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUniversityAffiliationViewLink}"/>
                <br />
                <h:commandLink action="#{universityAffiliationController.prepareList}" value="#{bundle.EditUniversityAffiliationShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUniversityAffiliationIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
