<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAuthorTitle}" styleClass="title"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>

            <h:form>
                <h:commandLink action="#{authorController.prepareList}" value="#{bundle.CreateAuthorShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.CreateAuthorIndexLink}"/>

                <br></br>
                <br></br>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAuthorLabel_authorNumber}" for="authorNumber" />
                    <h:inputText id="authorNumber" value="#{authorController.selected.authorNumber}" title="#{bundle.CreateAuthorTitle_authorNumber}" required="true" requiredMessage="#{bundle.CreateAuthorRequiredMessage_authorNumber}"/>
                    <h:outputLabel value="#{bundle.CreateAuthorLabel_authorName}" for="authorName" />
                    <h:inputText id="authorName" value="#{authorController.selected.authorName}" title="#{bundle.CreateAuthorTitle_authorName}" required="true" requiredMessage="#{bundle.CreateAuthorRequiredMessage_authorName}"/>
                    <h:outputLabel value="#{bundle.CreateAuthorLabel_employmentStatus}" for="employmentStatus" />
                    <h:inputText id="employmentStatus" value="#{authorController.selected.employmentStatus}" title="#{bundle.CreateAuthorTitle_employmentStatus}" />
                </h:panelGrid>
                <br />


                <h:commandButton styleClass = "save" action="#{authorController.create}" value="#{bundle.CreateAuthorSaveLink}"      />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
