<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText styleClass="title" value="#{bundle.ViewAuthorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:commandLink action="#{authorController.prepareCreate}" value="#{bundle.ViewAuthorCreateLink}" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{authorController.prepareList}" value="#{bundle.ViewAuthorShowAllLink}"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.ViewAuthorIndexLink}"/>
                <br></br><br/>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAuthorLabel_authorNumber}"/>
                    <h:outputText value="#{authorController.selected.authorNumber}" title="#{bundle.ViewAuthorTitle_authorNumber}"/>
                    <h:outputText value="#{bundle.ViewAuthorLabel_authorName}"/>
                    <h:outputText value="#{authorController.selected.authorName}" title="#{bundle.ViewAuthorTitle_authorName}"/>
                    <h:outputText value="#{bundle.ViewAuthorLabel_employmentStatus}"/>
                    <h:outputText value="#{authorController.selected.employmentStatus}" title="#{bundle.ViewAuthorTitle_employmentStatus}"/>
                </h:panelGrid>
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{authorController.destroyAndView}" value="#{bundle.ViewAuthorDestroyLink}"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:link outcome="Edit" value="#{bundle.ViewAuthorEditLink}"/>



            </h:form>
        </ui:define>
    </ui:composition>

</html>
