<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDrawingSizeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDrawingSizeLabel_drawingSizeID}" for="drawingSizeID" />
                    <h:inputText id="drawingSizeID" value="#{drawingSizeController.selected.drawingSizeID}" title="#{bundle.EditDrawingSizeTitle_drawingSizeID}" required="true" requiredMessage="#{bundle.EditDrawingSizeRequiredMessage_drawingSizeID}"/>
                    <h:outputLabel value="#{bundle.EditDrawingSizeLabel_drawingSizeDimensions}" for="drawingSizeDimensions" />
                    <h:inputText id="drawingSizeDimensions" value="#{drawingSizeController.selected.drawingSizeDimensions}" title="#{bundle.EditDrawingSizeTitle_drawingSizeDimensions}" />
                </h:panelGrid>
                <h:commandLink action="#{drawingSizeController.update}" value="#{bundle.EditDrawingSizeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDrawingSizeViewLink}"/>
                <br />
                <h:commandLink action="#{drawingSizeController.prepareList}" value="#{bundle.EditDrawingSizeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDrawingSizeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
