<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDrawingSizeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDrawingSizeLabel_drawingSizeID}"/>
                    <h:outputText value="#{drawingSizeController.selected.drawingSizeID}" title="#{bundle.ViewDrawingSizeTitle_drawingSizeID}"/>
                    <h:outputText value="#{bundle.ViewDrawingSizeLabel_drawingSizeDimensions}"/>
                    <h:outputText value="#{drawingSizeController.selected.drawingSizeDimensions}" title="#{bundle.ViewDrawingSizeTitle_drawingSizeDimensions}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{drawingSizeController.destroyAndView}" value="#{bundle.ViewDrawingSizeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDrawingSizeEditLink}"/>
                <br />
                <h:commandLink action="#{drawingSizeController.prepareCreate}" value="#{bundle.ViewDrawingSizeCreateLink}" />
                <br />
                <h:commandLink action="#{drawingSizeController.prepareList}" value="#{bundle.ViewDrawingSizeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDrawingSizeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
