<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText  value="#{bundle.CreateSheetTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>


                <h:commandLink styleClass = "links" action="#{sheetController.prepareList}" value="#{bundle.CreateSheetShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:link outcome="/index"  styleClass = "links"  value="#{bundle.CreateSheetIndexLink}"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <br></br>
                <br></br>
                <h:panelGrid columns="2" >
                    <h:outputLabel value="#{bundle.CreateSheetLabel_drawingNumber}" for="drawingNumber" />
                    <h:inputText id="drawingNumber" value="#{sheetController.selected.sheetPK.drawingNumber}" title="#{bundle.CreateSheetTitle_drawingNumber}" />
                    <h:outputLabel value="#{bundle.CreateSheetLabel_sheetNumber}" for="sheetNumber" />
                    <h:inputText id="sheetNumber" value="#{sheetController.selected.sheetPK.sheetNumber}" title="#{bundle.CreateSheetTitle_sheetNumber}" />
                    <h:outputLabel value="#{bundle.CreateSheetLabel_sheetTitle}" for="sheetTitle" />
                    <h:inputTextarea rows="4" cols="30" id="sheetTitle" value="#{sheetController.selected.sheetTitle}" title="#{bundle.CreateSheetTitle_sheetTitle}" />
                    <h:outputLabel value="#{bundle.CreateSheetLabel_originalIssueDate}" for="originalIssueDate" />
                    <h:inputText id="originalIssueDate" value="#{sheetController.selected.originalIssueDate}" title="#{bundle.CreateSheetTitle_originalIssueDate}" />
                    <h:outputLabel value="#{bundle.CreateSheetLabel_currentRevisionDate}" for="currentRevisionDate" />
                    <h:inputText id="currentRevisionDate" value="#{sheetController.selected.currentRevisionDate}" title="#{bundle.CreateSheetTitle_currentRevisionDate}" />
                    <h:outputLabel value="#{bundle.CreateSheetLabel_currentRevisionLetter}" for="currentRevisionLetter" />
                    <h:inputText id="currentRevisionLetter" value="#{sheetController.selected.currentRevisionLetter}" title="#{bundle.CreateSheetTitle_currentRevisionLetter}" />
                    <h:outputLabel value="#{bundle.CreateSheetLabel_issueStatus}" for="issueStatus" />
                    <h:inputText id="issueStatus" value="#{sheetController.selected.issueStatus}" title="#{bundle.CreateSheetTitle_issueStatus}" />
                    
                    <h:outputLabel value="#{bundle.CreateSheetLabel_drawingTypeID}" for="drawingTypeID" />
                    <h:selectOneMenu id="drawingTypeID" value="#{sheetController.selected.drawingTypeID}" title="#{bundle.CreateSheetTitle_drawingTypeID}" >
                        <f:selectItems value="#{drawingSizeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateSheetLabel_originalAuthorNumber}" for="originalAuthorNumber" />
                    <h:selectOneMenu id="originalAuthorNumber" value="#{sheetController.selected.originalAuthorNumber}" title="#{bundle.CreateSheetTitle_originalAuthorNumber}" >
                        <f:selectItems value="#{authorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateSheetLabel_revisionAuthorNumber}" for="revisionAuthorNumber" />
                    <h:selectOneMenu id="revisionAuthorNumber" value="#{sheetController.selected.revisionAuthorNumber}" title="#{bundle.CreateSheetTitle_revisionAuthorNumber}" >
                        <f:selectItems value="#{authorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br></br>
                <h:commandButton styleClass ="save" action="#{sheetController.create}" value="#{bundle.CreateSheetSaveLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
