<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <script >
//        window.onload = function () {
//            document.getElementById('hidden:link').onclick();
//        }

//        window.onbeforeunload = function () {
//            document.getElementById('hidden:link').onclick();
//        };
        if (window.event)
        {
            if (event.currentTarget.performance.navigation.type === 1)
            {
                alert("Browser refresh button is clicked...");
            }
            if (event.currentTarget.performance.navigation.type === 2)
            {
                alert("Browser back button is clicked...");
            }
        }

    </script>
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSheetTitle}"></h:outputText>


        </ui:define>
        <ui:define name="body">




            <!--Sorting helper js file-->
            <h:outputScript library="js" name="sort.js"/>
            <h:outputStylesheet library="css" name="sheetStyles.css"  /> 
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>

                <!--When no Sheet items are found; Show links to sheet table and the home page -->
                <h:panelGroup rendered="#{sheetController.items.rowCount == 0}">
                    <h:outputText escape="false" value="#{bundle.ListSheetEmpty}" />
                    <h:commandLink action="#{sheetController.showSheetTable()}" value="Sheet Table" />&nbsp;
                    <h:link outcome="/index" value="#{bundle.ListSheetIndexLink}"/>&nbsp;

                    <!--<h:commandLink id="link" style="display: none">
                        <f:ajax execute="@form" event="click" listener="#{sheetController.browserBackPressed()}" />
                    </h:commandLink>-->



                </h:panelGroup>






                <h:panelGroup class="noPrint" rendered="#{sheetController.items.rowCount > 0 }">

                    <!--item details on page-->
                    <h:panelGroup rendered="#{ sheetController.search()==false and sheetController.viewAllItems() == false}">
                        <h:outputText  value="#{sheetController.pagination.pageFirstItem + 1}..#{sheetController.pagination.pageLastItem + 1}/#{sheetController.pagination.itemsCount}"/>&nbsp;
                        <h:commandLink action="#{sheetController.previous}" value="#{bundle.Previous} #{sheetController.pagination.pageSize}" rendered="#{sheetController.pagination.hasPreviousPage}"/>&nbsp;
                        <h:commandLink action="#{sheetController.next}" value="#{bundle.Next} #{sheetController.pagination.pageSize}" rendered="#{sheetController.pagination.hasNextPage}"/>&nbsp;
                    </h:panelGroup>

                    <!--item details on view All page-->
                    <h:panelGroup rendered="#{ sheetController.search()==false and sheetController.viewAllItems() == true}">
                        <h:outputText  value="#{sheetController.pagination.pageFirstItem + 1}..#{sheetController.pagination.itemsCount}/#{sheetController.pagination.itemsCount}"/>&nbsp;
                    </h:panelGroup>


                    <!--Search next previous etc-->
                    <h:panelGroup rendered="#{ sheetController.search()==true}">
                        <h:outputText value="#{sheetController.first()+ 1}..#{sheetController.last()}/#{sheetController.listLength()}"/>&nbsp;
                        <h:commandLink action="#{sheetController.previousSearchItems()}" value="#{bundle.Previous} #{sheetController.pagination.pageSize}" rendered="#{sheetController.searchHasPrevious()}"/>&nbsp;
                        <h:commandLink action="#{sheetController.nextSearchItems()}" value="#{bundle.Next} #{sheetController.pagination.pageSize}" rendered="#{sheetController.searchHasNext()}"/>&nbsp; 
                    </h:panelGroup>

                    <h:commandLink action="#{sheetController.prepareCreate}" value="#{bundle.ListSheetCreateLink}" rendered="#{sheetController.isAdmin() == true}"/>&nbsp;






                    <h:commandLink action="#{sheetController.showSheetTable()}" value="Drawings Table" rendered="#{sheetController.viewAllItems()==false}"/>&nbsp; 

                    <h:commandLink action="#{sheetController.backToSheets()}" value="View All" rendered="#{sheetController.viewAllItems()==false}"/>&nbsp; 


                    <h:link outcome="/index" value="#{bundle.ListSheetIndexLink}" onclick=""/>&nbsp;

                    <br></br>
                    <!--SEARCH SHEETS-->
                </h:panelGroup>
                <br />
                <h:panelGroup class="noPrint" rendered="#{sheetController.viewAllItems()==false}">
                    <h:inputText value="#{drawingNumber}"  size="14" p:placeholder="Drawing Number"  class="drawingNumber"/> &nbsp;

                    <h:inputText value="#{sheetNumber}" size="10" p:placeholder="Sheet Number" />&nbsp;&nbsp;


                    <h:inputText value="#{sheetTitle}" size="30" p:placeholder="Sheet Title" />&nbsp;&nbsp;
                    <h:inputText value="#{issueDate}" p:placeholder="Issue Date (MM/DD/YYYY)" /> &nbsp;&nbsp;
                    <h:inputText value="#{revisionDate}"  p:placeholder="Revision Date (MM/DD/YYYY)" />&nbsp;&nbsp;



                    <h:selectOneMenu value="#{drawingType}">
                        <f:selectItems value="#{sheetController.getDrawingTypeIDs()}" />
                    </h:selectOneMenu>&nbsp;&nbsp;



                    <h:inputText value="#{originalAuthor}"  p:placeholder="Original Author Number" />&nbsp;&nbsp;
                    <h:inputText value="#{revisionAuthor}" p:placeholder="Revision Author Number" />&nbsp;&nbsp;

                    <h:commandButton value="Search" action="#{sheetController.searchSheets(drawingNumber, sheetNumber, sheetTitle, 
                                                              issueDate,revisionDate,drawingType, originalAuthor, revisionAuthor, false)}"  rendered="#{sheetController.viewAllItems()==false}"/> &nbsp;&nbsp;
                    <h:commandButton value="View All Search Items"  action="#{sheetController.searchSheets(drawingNumber, sheetNumber, sheetTitle, 
                                                                              issueDate,revisionDate,drawingType, originalAuthor, revisionAuthor, true)}"></h:commandButton>
                </h:panelGroup>
                <h:panelGroup rendered="#{sheetController.items.rowCount > 0 }">
                    <h:dataTable class="sortable" value="#{sheetController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column headerClass="sorttable_numeric" rendered="#{sheetController.viewAllItems()==false}">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_drawingNumber}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.sheetPK.drawingNumber}"/>
                        </h:column>
                        <h:column headerClass="sorttable_numeric, sorted" rendered="#{sheetController.viewAllItems()==true}">
                            <!--Sorted because query sorts by drawing Number-->
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_drawingNumber}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.sheetPK.drawingNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_sheetNumber}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.sheetPK.sheetNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_sheetTitle}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.sheetTitle}"/>
                        </h:column>
                        <h:column headerClass="sorttable_numeric">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_originalAuthorNumber}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.originalAuthorNumber}"/>
                        </h:column>


                        <h:column headerClass="sorttable_mmdd">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_originalIssueDate}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.originalIssueDate}"/>
                        </h:column>
                        <h:column headerClass="sorttable_numeric">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_revisionAuthorNumber}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.revisionAuthorNumber}"/>
                        </h:column>

                        <h:column headerClass="sorttable_mmdd">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_currentRevisionDate}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.currentRevisionDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_currentRevisionLetter}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.currentRevisionLetter}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_issueStatus}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.issueStatus}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSheetTitle_drawingTypeID}" styleClass="column_header"/>
                            </f:facet>
                            <h:outputText value="#{item.drawingTypeID}"/>
                        </h:column>

                        <h:column  rendered="#{sheetController.enableEdit() == true}" headerClass="enableEdit">
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>

                            <h:commandLink action="#{sheetController.prepareEdit}" value="#{bundle.ListSheetEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{sheetController.destroy}" value="#{bundle.ListSheetDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
