<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText  value="#{bundle.ViewSheetTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:outputStylesheet library="css" name="styles.css"  />
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:commandLink action="#{sheetController.prepareCreate}" value="#{bundle.ViewSheetCreateLink}" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{sheetController.prepareList}" value="#{bundle.ViewSheetShowAllLink}"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.ViewSheetIndexLink}"/>
                <br/>
                <br/>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSheetLabel_drawingNumber}"/>
                    <h:outputText value="#{sheetController.selected.sheetPK.drawingNumber}" title="#{bundle.ViewSheetTitle_drawingNumber}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_sheetNumber}"/>
                    <h:outputText value="#{sheetController.selected.sheetPK.sheetNumber}" title="#{bundle.ViewSheetTitle_sheetNumber}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_sheetTitle}"/>
                    <h:outputText value="#{sheetController.selected.sheetTitle}" title="#{bundle.ViewSheetTitle_sheetTitle}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_originalIssueDate}"/>
                    <h:outputText value="#{sheetController.selected.originalIssueDate}" title="#{bundle.ViewSheetTitle_originalIssueDate}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_currentRevisionDate}"/>
                    <h:outputText value="#{sheetController.selected.currentRevisionDate}" title="#{bundle.ViewSheetTitle_currentRevisionDate}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_currentRevisionLetter}"/>
                    <h:outputText value="#{sheetController.selected.currentRevisionLetter}" title="#{bundle.ViewSheetTitle_currentRevisionLetter}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_issueStatus}"/>
                    <h:outputText value="#{sheetController.selected.issueStatus}" title="#{bundle.ViewSheetTitle_issueStatus}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_drawingTypeID}"/>
                    <h:outputText value="#{sheetController.selected.drawingTypeID}" title="#{bundle.ViewSheetTitle_drawingTypeID}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_originalAuthorNumber}"/>
                    <h:outputText value="#{sheetController.selected.originalAuthorNumber}" title="#{bundle.ViewSheetTitle_originalAuthorNumber}"/>
                    <h:outputText value="#{bundle.ViewSheetLabel_revisionAuthorNumber}"/>
                    <h:outputText value="#{sheetController.selected.revisionAuthorNumber}" title="#{bundle.ViewSheetTitle_revisionAuthorNumber}"/>
                </h:panelGrid>
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <h:commandLink action="#{sheetController.destroyAndView}" value="#{bundle.ViewSheetDestroyLink}"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h:link outcome="Edit" value="#{bundle.ViewSheetEditLink}"/>
                <br />


            </h:form>
        </ui:define>
    </ui:composition>

</html>
