<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDrawingTypeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDrawingTypeLabel_description}" for="description" />
                    <h:inputTextarea rows="4" cols="30" id="description" value="#{drawingTypeController.selected.description}" title="#{bundle.EditDrawingTypeTitle_description}" />
                    <h:outputLabel value="#{bundle.EditDrawingTypeLabel_drawingTypeID}" for="drawingTypeID" />
                    <h:inputText id="drawingTypeID" value="#{drawingTypeController.selected.drawingTypeID}" title="#{bundle.EditDrawingTypeTitle_drawingTypeID}" required="true" requiredMessage="#{bundle.EditDrawingTypeRequiredMessage_drawingTypeID}"/>
                </h:panelGrid>
                <h:commandLink action="#{drawingTypeController.update}" value="#{bundle.EditDrawingTypeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDrawingTypeViewLink}"/>
                <br />
                <h:commandLink action="#{drawingTypeController.prepareList}" value="#{bundle.EditDrawingTypeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDrawingTypeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
