<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDrawingTypeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDrawingTypeLabel_description}"/>
                    <h:outputText value="#{drawingTypeController.selected.description}" title="#{bundle.ViewDrawingTypeTitle_description}"/>
                    <h:outputText value="#{bundle.ViewDrawingTypeLabel_drawingTypeID}"/>
                    <h:outputText value="#{drawingTypeController.selected.drawingTypeID}" title="#{bundle.ViewDrawingTypeTitle_drawingTypeID}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{drawingTypeController.destroyAndView}" value="#{bundle.ViewDrawingTypeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDrawingTypeEditLink}"/>
                <br />
                <h:commandLink action="#{drawingTypeController.prepareCreate}" value="#{bundle.ViewDrawingTypeCreateLink}" />
                <br />
                <h:commandLink action="#{drawingTypeController.prepareList}" value="#{bundle.ViewDrawingTypeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDrawingTypeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
